// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background-color: #33394C;
    
}

a,.site-title, .post-meta, h1, h2, h3, h4, h5, h6  {
    font-weight: bold;
}

a, .site-title, .site-title:visited, .post-title, .site-nav .page-link {
    color: #EC3C3F;
}

h1, h2, h3, h4, h5, h6 {
    color: #F0CAA2;
}

a:hover {
    color: #42868F;    
}


.post-title:visited, a:visited {
    color: #9B7C85;
}
 p, blockquote, pre, ul, ol, dl, figure, .highlight {
    color: white;
}

code {
    color: black;
    //font-weight: bold;
    background-color: beige;
}
.highlighter-rouge .highlight {
    background: beige;
}

.highlight .c1 {
    color: green;
}
